@font-face {
  font-family: "Cerebri";
  src: url("../../assets/CerebriSansPro-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Cerebri";
  src: url("../../assets/CerebriSansPro-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Cerebri";
  src: url("../../assets/CerebriSansPro-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
